@import url("./app.css");
.photo-item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
}

.photo-item img {
    width: 150px;
}

.photo-item p {
    position: absolute;
    bottom: -200px;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
    background-color: var(--primary);
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;
    transition: bottom 1s ease;
    justify-content: center;
}

.photo-item:hover p {
    animation: photo-description-show 1s both;
    transition: all 1s ease-in-out;
}

.photo-item p {
    animation: photo-description-hide 1s forwards;
    transition: all 1s ease-in-out;
}

.title-portofolio {
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.title-portofolio p {
    margin-bottom: 50px;
    font-size: 0.9em;
    color: var(--primary);
}

.photos {
    display: grid; /* Menyusun elemen dalam grid */
    grid-template-columns: repeat(
        5,
        1fr
    ); /* Membuat 4 kolom dengan lebar yang sama */
    gap: 10px; /* Jarak antar elemen grid */
    grid-row: 4; /* Menentukan grid ini berada di baris ke-4 */
    width: 60%;
    margin-left: 20%;
}

@keyframes photo-description-show {
    0% {
        bottom: -200px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes photo-description-hide {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -200px;
    }
}

@media only screen and (max-width: 900px) {
    .photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-row: 4;
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-row: 4;
        width: 60%;
        margin-left: 7%;
    }
    .title-portofolio {
        width: 90%;
        margin-left: 5%;
    }
}
